body {
	margin: 0;
	padding: 0;
	
	background: black;
	
	
}
.merienda-<uniquifier> {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p { 
color: white;
}
 
h2 {
color: orange;
font-size: 30px;
font-family: "Merienda";
text-align: center;

}
	
p {
font-size: 20px;
text-align: center;
}

.gra {
color: orange;
}
	
footer {
color: white;
text-align: center;
}

#triqueta {
text-align: center;
}

.triqueta {
width: 100px;
height: auto;
}	
	@media (max-width: 768px) {
	.mimg {
		widht: 450px;
		height: 250px;
	}
	}
	@media (min-width: 768px) {
	.mimg {
		widht: 600px;
		height: 400px;
	}
	}

    #triqueta {
text-align: center;
}

.triqueta {
width: 100px;
height: auto;
}

.carta {
width: 36px;
height: auto;
justify-content: center;
text-align: center;
}

.ajustefoto {
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-top: 8px;
}

.ajustefoto1 {
	margin: 0 auto;
}

.titulo_fotos{
    text-align: center;
}


.encofoto {
	width: 300px;
	height: auto;
	margin: 0 auto;
	
	
}

ul{
	list-style: none;
}
.encontros_bruxas {
	font-size: 25px;
	margin-left: 30px;
	color: orange;


}

a {
	text-decoration: none;
}

.estudos {
	text-align: center;
	margin-top: 34px;
		
}
.estudos_item {
	color: white;
}


.grid-container-sabas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
	grid-area: 
    "sabas_item1 sabas_item2"
	"sabas_item3 sabas_item4"
	"sabas_item5 sabas_item6"
	"sabas_item7 sabas_item8";
    

    grid-template-rows: auto;
    gap: 10px;

    margin-top: 40px;
	text-align: center;
}

.sabas-imagem {
	width: 300px;
	height: auto;
	margin: 16px auto;
	
}

.samahain25 {
	padding: 16px;
}

@media (max-width: 600px) {
	.grid-container-sabas {
		grid-template-columns: 1fr;
		
	}
	.sabas-imagem {
		width: 200px;
		height: auto;
		margin: 16px auto;
		display: block;
	}
}


.grid-container-ervascris {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 
    "fotos_cristais texto_cristais"
    ;

    grid-template-rows: auto;
    gap: 10px;

    margin-top: 50px;
}
.fotos_cristais {
margin: 16px auto;
    padding: 8px;
	
}
.ervas {
	text-align: center;
	width: 300px;
}

.cristal {
	text-align: center;
	width: 300px;
}
.main-ervascris {
	padding: 16px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


@media (max-width: 600px) {
	.grid-container-ervascris {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"fotos_cristais"
		"fotos_cristais";
	}
	.fotos_cristais {
		width: 200px;
		height: auto;
		margin: 0 auto;
		text-align: center;
	}
	.cristal {
		width: 250px;

		height: auto;
		margin: 16PX auto;
	text-align: center;;
	}
	.ervas {
		width: 250px;
		height: auto;
		margin: 0 auto;	

}
