body {
	margin: 0;
	padding: 0;
	
	background: black;
	
	
}

p { 
color: white;
}
 
h2 {
color: orange;
font-size: 30px;
font-family: serif;
text-align: center;

}
	
p {
font-size: 20px;
text-align: center;
}

.gra {
color: orange;
}
	
footer {
color: white;
text-align: center;
}

#triqueta {
text-align: center;
}

.triqueta {
width: 100px;
height: auto;
}	
	@media (max-width: 768px) {
	.mimg {
		widht: 450px;
		height: 250px;
	}
	}
	@media (min-width: 768px) {
	.mimg {
		widht: 600px;
		height: 400px;
	}
	}

    #triqueta {
text-align: center;
}

.triqueta {
width: 100px;
height: auto;
}

.carta {
width: 36px;
height: auto;
justify-content: center;
text-align: center;
}

.ajustefoto {
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-top: 8px;
}

.ajustefoto1 {
	margin: 0 auto;
}

.titulo_fotos{
    text-align: center;
}


.encofoto {
	width: 300px;
	height: auto;
	margin: 0 auto;
	
	
}

ul{
	list-style: none;
}
.encontros_bruxas {
	font-size: 25px;
	margin-left: 30px;
	color: orange;


}

a {
	text-decoration: none;
}

.estudos {
	text-align: center;
	margin-top: 34px;
		
}
.estudos_item {
	color: white;
}

.grid-container-sabas {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-area: 
    "sabas_item1 sabas_item2";
  

    grid-template-rows: auto;
    gap: 10px;

   
}

.sabas_item1{
	grid-area: sabas_item1;
	text-align: center;
}


.sabas_item2 {
	
	grid-area: sabas_item2;
	text-align: center;
}


.sabas-imagem {
	width: 300px;
	height: auto;
	margin: 16px auto;
	
}

.samahain25 {
	padding: 16px;
}

@media (max-width: 600px) {
	.grid-container-sabas {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"sabas_item1"
		"sabas_item2";
	}
	.sabas-imagem {
		width: 200px;
		height: auto;
		margin: 16px auto;
		display: block;
	}
}

