* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
    margin-top: 16px;
}




#triqueta {
text-align: center;
}

.triqueta {
width: 100px;
height: auto;
}